<div class="row">
  <div class="col-xs-12">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Description</th>
          <th colspan="2">Actions</th>
        </tr>
      </thead>
      
      <tbody>
        <tr>
          <td>1</td>
          <td>Name 1</td>
          <td>Longue description bla blab eopjzobpnez noponofp efz</td>
          <td>
            <button class="btn btn-primary btn-sm" type="submit">
              <span class="glyphicon glyphicon-plus"></span>
            </button>
          </td>
        </tr>
        <tr>
          <td>2</td>
          <td>Name 2</td>
          <td>Longue description bla blab eopjzobpnez noponofp efz</td>
          <td>
            <button class="btn btn-primary btn-sm" type="submit">
              <span class="glyphicon glyphicon-plus"></span>
            </button>
          </td>
        </tr>
      </tbody>
      
    </table>
  </div>
</div>